<a href="https://colab.research.google.com/github/IliesBrnbh/DATA4auditors_IAEMetz/blob/main/IAE_Metz_TP1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Introduction à Python
print('Hello World! IAE Metz Data 4 Auditors')

Hello World! IAE Metz Data 4 Auditors

# Simple examples
Nous allons voir les bases de Python

In [ ]:
# On va définir des variables
prenom = 'Matt' # est du texte c'est donc un STRING
salaire_de_stage = 1711 # INTEGER c'est un entier naturel
salaire_net = 1680.95 # FLOAT = chiffre à virgule

In [ ]:
print(f"Je m'appelle {prenom} et je gagnerai {salaire_de_stage} euros")

Je m'appelle Matt et je gagnerai 1711 euros

In [ ]:
#ARITHMETIC +++
Debit1 = 157000
Debit2 = 1711
Credit = 157000

In [ ]:
Debit1+Debit2

158711

In [ ]:
a = Debit1
b = Debit2

In [ ]:
Debit1, Debit2
print(f"SUM : {Debit1+Debit2}, DELTA : {a-b}, PRODUIT : {a*b}, DIVISION : {a/b}")

SUM : 158711, DELTA : 155289, PRODUIT : 268627000, DIVISION : 91.75920514319111

In [ ]:
print(f"Division Integer : {a//b}")

Division Integer : 91

In [ ]:
# LIST
banks = ["BDL","BGL", "BNP","BIL"]
banks[2]

'BNP'

In [ ]:
# DICTIONNAIRE
# Non-ordonné et PAIRES-CLE
valorisation = {"nom": "Nike", "actif" : 37, "passif" : 34}

In [ ]:
print(f"La valorisation de {valorisation['nom']}")

La valorisation de Nike

# Exemples pour les auditeurs
Etude de cas pour l'audit

In [ ]:
#Cellule des variables
revenus = 100000
depenses = 75000
taux_imposition_francais = 0.25
taux_imposition_luxembourgeois = 0.17
taux_imposition_irlande = 0.125

In [ ]:
#Cellule des calculs
benefice = revenus-depenses
impot_en_France = benefice * taux_imposition_francais
impot_au_Lux = taux_imposition_luxembourgeois*benefice
impot_en_Irlande = taux_imposition_irlande*benefice
benefice_net_fr = benefice-impot_en_France

In [ ]:
#Cellule des checks/prints : calcul en direct
print("Impot à payer en France", taux_imposition_francais * benefice, "€")

Impot à payer en France 6250.0 €

In [ ]:
#Cellule des checks/prints : calcul préparé en amont
print("Impôt à payer en France", impot_en_France, "€")

Impôt à payer en France 6250.0 €

In [ ]:
#Comparaison avec l'Irlande et le Luxembourg
print("On compare au Luxembourg", taux_imposition_luxembourgeois * benefice, "€", "vs en Irlande", taux_imposition_irlande * benefice, "€")

On compare au Luxembourg 4250.0 € vs en Irlande 3125.0 €

In [ ]:
impot_au_Lux = taux_imposition_luxembourgeois*benefice
impot_en_Irlande = taux_imposition_irlande*benefice

In [ ]:
impot_en_France - impot_au_Lux

2000.0

#Structures de contrôle

In [ ]:
# CONDITIONS (if,elif,else)

if benefice_net_fr > 0:
  print("L'entreprise réalise un bénéfice net. Un bénef de",benefice_net_fr,"€")
elif benefice_net_fr == 0:
  print("L'entreprise est à équilibre")
else :
  print("L'entreprise réalise une perte nette")

L'entreprise réalise un bénéfice net. Un bénef de 18750.0 €

#IMPORTATION DES BIBLIOTHEQUES

##Les packages se différencient entre 2 grandes catégories
##1) Ceux "outils" : contenant des fonctions
##2) Ceux "de données" : contenant des données/valeurs

In [3]:
# Le package d'outils le plus répandu en Python est PANDAS (ou POLARS)
import pandas as pd

In [4]:
# Le package "données" le plus répandu en Python x Finance est... Yahoo Finance
import yfinance as yf

In [5]:
#BLOCK : IMPORTATION DES PACKAGES
import yfinance as yf
import pandas as pd
import matplotlib.pyplot as plt
# dans les packages "outils" vous pouvez SOUS SELECTIONNER LE CHAPITRE

In [9]:
#BLOCK : VARIABLES
#Pour une comparaison d'indices selon les pays
france_symbol='EWQ'#iShares MSCI France ETF
irelande_symbol='EWK'#iShares MSCI Irelande ETF
luxembourg_symbol='SPY' #S&P500 son ETF

In [13]:
#BLOCK : TIME FRAME
start_date='2010-01-01'
end_date='2025-01-01'

In [14]:
#Téléchargment des données historiques de YFinance pour chaque pays
france_data=yf.download(france_symbol,start=start_date,end=end_date)
irelande_data=yf.download(irelande_symbol,start=start_date,end=end_date)
lux_data=yf.download(luxembourg_symbol,start=start_date,end=end_date)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [15]:
print(france_data)

Price           Close       High        Low       Open  Volume
Ticker            EWQ        EWQ        EWQ        EWQ     EWQ
Date
2010-01-04  17.787554  17.827421  17.641372  17.641372   97400
2010-01-05  17.741041  17.867287  17.674595  17.847354  164100
2010-01-06  17.834061  17.840705  17.687880  17.734392  117300
2010-01-07  17.754322  17.787546  17.634721  17.648009   87500
2010-01-08  18.000177  18.006822  17.760972  17.787551  155400
...               ...        ...        ...        ...     ...
2024-12-24  35.970001  36.009998  35.619999  35.730000  187100
2024-12-26  36.119999  36.200001  35.939999  35.959999  216600
2024-12-27  36.060001  36.139999  35.900002  35.959999  758900
2024-12-30  35.810001  35.910000  35.650002  35.900002  361400
2024-12-31  35.880001  36.169998  35.799999  36.169998  401800

[3774 rows x 5 columns]

In [16]:
#BLOCK : ANALYSE DES DATAFRAME
#Il y a des jours fériés donc il y a des valeurs nulles
#france_data.isnull().sum()
#DATA_FRAME.FUNCTION_NAME()

In [ ]:
#Calcul de la renta cumulée des fonds sur une période
lux_cumulatives_return=(1+lux_return).cumprod()-1
irelande_cumulative